@model IEnumerable<RepositoryPatternAPP.Data.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddEditStudent">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.S_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_EnrollmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_EnrollmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditStudent", new { id=item.ID }) |
                @Html.ActionLink("Delete", "DeleteStudent", new {  id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
